* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

#soon{
    display: none;
}

#my-sumup {
    display:flex;
    flex-direction: row;
}

/*Bio Column*/

#bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    height: 100vh;
    width: 50vh;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#my-picture {
    padding-top: 2vh;
    height: 22vh;
    width: 20vh;
}

#title-of-page {
    font-family: monospace;
    font-size: 1.6rem;
}

#bio-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:#808080;
    padding: 2vh;
}

#title-contacts {
    display: flex;
    align-items: flex-end;
    height: 41vh;
}

#contacts {
    display: flex;
    justify-content:space-between;
    align-self:initial;
    align-items: flex-end;
    height: 5vh;
    width: 20vh;
}

#linkedin {
    height: 4vh;
    width: 4vh;
}

#github {
    height: 4vh;
    width: 4vh;
}

#email {
    height: 4vh;
    width: 4vh;
}

#linkedin:hover {
    height: 5vh;
    width: 5vh;
}

#github:hover {
    height: 5vh;
    width: 5vh;
}

#email:hover {
    height: 5vh;
    width: 5vh;
}

#actor {
    display: flex;
    align-items: flex-end;
    height: 4vh;
}

/*Projects Column*/

#projects-container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.boxProject {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #EDEDED;
    color: #000000;
    border-radius: 15px;
    height: 25vh;
    width: 100vh;
}

.boxProject img{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.boxProject:hover {
    outline: solid #5C5858;
}


.text-project{
    text-align: left;
    padding: 5vh;
}

 /*Medium Screens*/
 @media (max-width: 1100px) {
    #my-sumup {
        display:flex;
        flex-direction: column;
    }

    /*Bio Column*/
    
    #bio-container{
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        height: 40vh;
        width: 100%;
    }

    #my-picture {
        padding-top: 2vh;
        height: 20vh;
        width: 20vh;
    }

    #bio-text {
        text-align: left;
        font-size: 30px;
    }
    
    #title-contacts {
        display: none;
    }
    
    #contacts {
        display: none;
    }
    
    #linkedin {
        display: none;
    }
    
    #github {
        display: none;
    }
    
    #email {
        display: none;
    }
    
    #actor {
        display: none;
    }

    /*Projects*/
    #projects-container{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 65vh;
        width: 100%;
    }

    .boxProject{
        height: 20vh;
        width: 60VH;
    }

    .boxProject:hover {
        outline: none;
    }

    .text-project{
        text-align: left;
        padding: 2vh;
        font-size: 30px;
    }
    
 }

 /*Small Screens*/
 @media (max-width: 480px) {
    #my-sumup {
        display:flex;
        flex-direction: column;
    }

    .boxProject{
        height: 10vh;
        width: 80vw;
    }
    .boxProject img{
        display: none;
    }

    #bio-container{
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        height: 40vh;
        width: 100vw;
    }
    
    #bio-text {
        text-align: left;
        font-size: 100%;
    }

    .text-project{
        text-align: center;
        padding: 2vw;
        font-size: 100%;
    }
 }
