* {
    margin: 0%;
    padding: 0%;
}

/* My Bio */

#columnBio {
    width: 23%;
    height: 100%;
    position: absolute;
    background-color: #EDEDED;
}

.titleOfPage {
    position: absolute;
    left: 14%;
    top: 28%;
    font-family: monospace;
    font-size: 220%;
}


#myPhoto {
    position: absolute;
    width: 50%;
    height: auto;
    top: 2%;
    left: 22%;
    bottom: 1%;
}


.textBio {
    position: absolute;
    top: 33%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: monospace;
    color: #858585;
}

#contatos {
    width: 2px;
    position: absolute;
    bottom: 13%;
    left: 33%;
}

#linkedin {
    width: 10%;
    position: absolute;
    bottom: 6%;
    left: 32%;
}


#email {
    width: 10%;
    position: absolute;
    bottom: 6%;
    right: 42%;
}

#actor {
    position: absolute;
    bottom: 2%;
    left: 20%;
}

/* My Projects */

#columnProjects {
    position: absolute;
    width: 77%;
    height: 100%;
    left: 23%;
}

#textSoon {
    position: absolute;
    top: 45%;  
    left: 22%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 210%;
}