* {
    margin: 0%;
    padding: 0%;
}

/* My Bio */

#columnBio {
    width: 23%;
    height: 100%;
    position: absolute;
    background-color: #EDEDED;
}

.titleOfPage {
    position: absolute;
    left: 14%;
    top: 28%;
    font-family: monospace;
    font-size: 220%;
}


#myPhoto {
    position: absolute;
    width: 50%;
    height: auto;
    top: 2%;
    left: 22%;
    bottom: 1%;
}


.textBio {
    position: absolute;
    top: 33%;
    padding-left: 6%;
    padding-right: 6%;
    font-family: monospace;
    color: #858585;
}

#contatos {
    width: 2px;
    position: absolute;
    bottom: 13%;
    left: 33%;
}

#linkedin {
    width: 8%;
    position: absolute;
    bottom: 7%;
    left: 28%;
}

#linkedin:hover {
    width: 10%;
}

#github {
    width: 8%;
    position: absolute;
    bottom: 7%;
    left: 43%;
}

#github:hover {
    width: 10%;
}


#email {
    width: 8%;
    position: absolute;
    bottom: 7%;
    right: 34%;
}

#email:hover {
    width: 10%;
}

#actor {
    position: absolute;
    bottom: 2%;
    left: 20%;
}

/* My Projects */

#columnProjects {
    position: absolute;
    width: 77%;
    height: 100%;
    left: 23%;
}

#textSoon {
    position: absolute;
    top: 50%;  
    left: 22%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 210%;
}

.boxProject {
    position: absolute;
    background-color: #EDEDED;
    top: 4%;
    left: 10%;
    width: 80%;
    height: 26%;
    border-radius: 15px;
}

.boxProject:hover {
    outline: solid #5C5858;
}

.boxProject img {
    width: 21%;
    border-radius: 15px;
}

.textProject{
    position: absolute;
    left: 28%;
    top: 20%;
    padding-right: 6%;
    font-size: 110%;
    color: #000000;
}

